body {
    background-color: var(--back);
    color: var(--content);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
button, select, input {
    background-color: var(--blocks);
    color: var(--content);
    border-radius: 5px;
    border: 1px solid var(--dark)
}
button:focus, select:focus, input:focus {
    border: 1px solid var(--accent)
}
::selection {
    background-color: var(--accent);
    color: var(--dark);
}
a {
    color: var(--accent);
}
a:hover {
    text-decoration: underline;
}