p { margin: unset; }
body { margin: unset; }
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input, select { outline: unset; }
a { text-decoration: unset; color: unset }